<include file='Public/header'/>
<div class="container clearfix">
    <include file='Public/menu'/>

    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">文章管理</a><span class="crumb-step">&gt;</span><span>新增文章</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>标题：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>栏目：</th>
                                <td>
                                <select name="cateId" id="catid" class="required">
                                    <option value="0">请选择栏目</option>
                                    <option value="1">科技</option>
                                </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>缩略图：</th>
                                <td><input name="photo1" id="" type="file"><!--<input type="submit" onclick="submitForm('/jscss/admin/design/upload')" value="上传图片"/>--></td>
                            </tr>
                            <tr>
                                <th>简介：</th>
                                <td><textarea name="description" class="common-textarea" id="content" cols="30" style="width: 400px;height: 80px" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th>内容：</th>
                                <td>
                                    <textarea id="myEdit" name="content"></textarea>
                                 </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>

<script type="text/javascript">
        var ue = UE.getEditor('container');
        ue.render('myEdit');
    </script>
</body>
</html>