<include file='Public/header'/>
<div class="container clearfix">
    <include file='Public/menu'/>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">栏目管理</span></div>
        </div>
     
        <div class="result-wrap">
            <form action='__CONTROLLER__/sort' method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__CONTROLLER__/add"><i class="icon-font"></i>新增栏目</a>
                        
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>
                        <input class="btn btn-primary btn2" type="submit" value="更新排序" /></a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>排序</th>
                            <th>ID</th>
                            <th>栏目名称</th>
                            <th>操作</th>
                        </tr>
                        <volist name='cates' id='vo'>
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>
                                <input class="common-input sort-input" name="{$vo.id}" value="{$vo.listorder}" type="text">
                            </td>
                            <td>{$vo.id}</td>
                            <td><a target="_blank" href="#" title="">{$vo.name}</a>
                            </td>
                         
                            <td>
                                <a class="link-update" href="__CONTROLLER__/edit/id/{$vo.id}">修改</a>
                                <a class="link-del" href="__CONTROLLER__/del/id/{$vo.id}" onsubmit="return confirm('确认删除？')">删除</a>
                            </td>
                        </tr>
                       </volist>
                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>